@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas-Regular.eot');
	src: local('☺'), url('../fonts/Bebas-Regular.woff') format('woff'), url('../fonts/Bebas-Regular.ttf') format('truetype'), url('../fonts/Bebas-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


